In [1]:
# Importing necessary libraries
import pandas as pd

# Load the dataset
file_path = "diabetes.csv"  # Adjust path if needed
df = pd.read_csv(file_path)

# Show first 5 rows of the dataset
print("ðŸ”¹ Preview of the dataset:")
display(df.head())

# Check general info about the dataset
print("\nðŸ”¹ Dataset Info:")
df.info()

# Display basic statistics
print("\nðŸ”¹ Descriptive Statistics:")
display(df.describe())

ðŸ”¹ Preview of the dataset:

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

ðŸ”¹ Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

ðŸ”¹ Descriptive Statistics:

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [3]:
# Import necessary libraries
import pandas as pd
import numpy as np

# Load the dataset
file_path = "diabetes.csv"
df = pd.read_csv(file_path)

# Columns where zero is not a valid value
invalid_cols = ['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI']

# Replace 0s with NaN
df[invalid_cols] = df[invalid_cols].replace(0, np.nan)

# Check how many missing values now
print("ðŸ”¹ Missing values per column:")
print(df.isna().sum())

# Fill missing values with the median of each column
df[invalid_cols] = df[invalid_cols].fillna(df[invalid_cols].median())

# Confirm missing values are handled
print("\nðŸ”¹ Missing values after imputation:")
print(df.isna().sum())

ðŸ”¹ Missing values per column:
Pregnancies                   0
Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
dtype: int64

ðŸ”¹ Missing values after imputation:
Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [5]:
# Create Age Category
def age_category(age):
    if age < 31:
        return "Young"
    elif age <= 50:
        return "Middle-aged"
    else:
        return "Old"

df["AgeCategory"] = df["Age"].apply(age_category)

# Create BMI Category
def bmi_category(bmi):
    if bmi < 18.5:
        return "Underweight"
    elif bmi < 25:
        return "Normal"
    elif bmi < 30:
        return "Overweight"
    else:
        return "Obese"

df["BMICategory"] = df["BMI"].apply(bmi_category)

# Preview new columns
print("ðŸ”¹ Sample of new features:")
display(df[["Age", "AgeCategory", "BMI", "BMICategory"]].head())

ðŸ”¹ Sample of new features:

   Age  AgeCategory   BMI BMICategory
0   50  Middle-aged  33.6       Obese
1   31  Middle-aged  26.6  Overweight
2   32  Middle-aged  23.3      Normal
3   21        Young  28.1  Overweight
4   33  Middle-aged  43.1       Obese

In [ ]:
p